extends layout

block content
  h1 Daily Tracker
  p.lead(id='time') Track stuff for #{today}
  script(type='text/javascript', src="//code.jquery.com/jquery-1.11.0.min.js")
    //- script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js")
    //- script.
    //-   var today = moment().format("YYYY-MM-DD")
    //-   $('#time').html("Track stuff for " + today)
  hr
  //- form.form-group(method="POST", action="/user")
  //-   input(type="hidden", name="_method", value="PUT")
  //-   p Hours of Sleep
  //-     input.form-control(type="number", name="hoursOfSleep", label="Hours of Sleep")
  //-   p Flare up
  //-     input.form-control(type="text", name="flareUp")

  //- form.form-horizontal(action='', method='POST', role='form')
  //-   .form-group
  //-     legend Information for Today
  //-     | 
  //-   .form-group
  //-     .col-sm-10.col-sm-offset-2
  //-       button.btn.btn-primary(type='submit') Submit


  form(action="/trackedStuff", method="POST")
    input(type="hidden", name="_csrf", value=_csrf)
    input(type="hidden", name="userid", value=user._id)
    input(type="hidden", name="_id", value=user._id + today)
    .form-group
      div.row
        div.col-md-4
          div.panel.panel-default
            div.panel-heading Inflammatory Foods:
            div.panel-body
              div.input-group-lg
                div.checkbox
                  label
                    input(type="checkbox", name="soy", value="true", checked=trackedStuff.soy)
                    | Soy
                div.checkbox
                  label
                    input(type="checkbox", name="gluten", value="true", checked=trackedStuff.gluten)
                    | Gluten
                div.checkbox
                  label
                    input(type="checkbox", name="othergrains", value="true", checked=trackedStuff.othergrains)
                    | Other Grains
                div.checkbox
                  label
                    input(type="checkbox", name="legumes", value="true", checked=trackedStuff.legumes)
                    | Legumes
                div.checkbox
                  label
                    input(type="checkbox", name="corn", value="true", checked=trackedStuff.corn)
                    | Corn
                div.checkbox
                  label
                    input(type="checkbox", name="seedoil", value="true", checked=trackedStuff.seedoil)
                    | Seed Oil
                div.checkbox
                  label
                    input(type="checkbox", name="alcohol", value="true", checked=trackedStuff.alcohol)
                    | Alcohol
                div.checkbox
                  label
                    input(type="checkbox", name="sugar", value="true", checked=trackedStuff.sugar)
                    | Sugar      
                div.checkbox
                  label
                    input(type="checkbox", name="dairy", value="true", checked=trackedStuff.dairy)
                    | Dairy
        div.col-md-4
          div.panel.panel-default
            div.panel-heading Anti-Inflammatory Foods:
            div.panel-body
              div.input-group-lg
                div.checkbox
                  label
                    input(type="checkbox", name="sulphorousveggies.flag", id="sulphorousveggies", checked=trackedStuff.sulphorousveggies.flag)
                    | Sulphorous Veggies
                #sulphorous_options
                  label
                    | Number of cups
                    input(class="form-control", type="number", name="sulphorousveggies.num", value="#{trackedStuff.sulphorousveggies.num}")
                div.checkbox
                  label
                    input(type="checkbox", name="leafygreens.flag", id="leafygreens", value="true", checked=trackedStuff.leafygreens.flag)
                    | Leafy Greens
                #leafy_options
                  label
                    | Number of cups
                    input(class="form-control", type="number", name="leafygreens.num", value="#{trackedStuff.leafygreens.num}")
                div.checkbox
                  label
                    input(type="checkbox", name="colors.flag", id="colors", value="true", checked=trackedStuff.colors.flag)
                    | Colors
                #colors_options
                  label
                    | Number of cups
                    input(class="form-control", type="number", name="colors.num", value="#{trackedStuff.colors.num}")
        div.col-md-4
          div.panel.panel-default
            div.panel-heading Activities:
            div.panel-body
              div.input-group.input-group-lg
                label
                  | Hours of sleep
                  input(class="form-control", type="number", step="0.1", placeholder="Hours of sleep", name="hoursofsleep", value="#{trackedStuff.hoursofsleep}")       
                div.checkbox
                  label
                    input(type="checkbox", name="takeprobiotic", checked=trackedStuff.takeprobiotic)
                    | Take Probiotic
                div.checkbox
                  label
                    input(type="checkbox", name="takefishoil", value="true", checked=trackedStuff.takefishoil)
                    | Take fish oil
                div.checkbox
                  label
                    input(type="checkbox", name="taketurmeric.flag", id="taketurmeric", value="true", checked=trackedStuff.taketurmeric.flag)
                    | Take turmeric
                #turmeric_options
                  label
                    | Number of pills
                    input(class="form-control", type="number", step="1", min="0", placeholder="Number of pills", name="taketurmeric.num", value="#{trackedStuff.taketurmeric.num}")
                div.checkbox
                  label
                    input(type="checkbox", name="usedurezol.flag", id="usedurezol", value="true", checked=trackedStuff.usedurezol.flag)
                    | Use Durezol 
                #durezol_options
                  label
                    | Number of drops
                    input(class="form-control", type="number", step="1", min="0", placeholder="Number of drops", name="usedurezol.num", value="#{trackedStuff.usedurezol.num}")
                div.checkbox
                  label
                    input(type="checkbox", name="warmcompress", value="true", checked=trackedStuff.warmcompress)
                    | Warm compress
                div.checkbox
                  label
                    input(type="checkbox", name="wearglasses", value="true", checked=trackedStuff.wearglasses)
                    | Wear glasses
                div.checkbox
                  label
                    input(type="checkbox", name="exercise.flag", id="exercise", value="true", checked=trackedStuff.exercise.flag)
                    | Exercise
                #exercise_options
                  select(name="exercise.type", id="exercise_type", selected="#{trackedStuff.exercise.type}", label="Type")
                    option(value="crossfit")
                      | Crossfit
                    option(value="running")
                      | Running
                    option(value="walking")
                      | Walking
                    option(value="other")
                      | Other
                  label
                    | Intensity
                    input(class="form-control", type="number", step="1", min="0", max="10", placeholder="Intensity", name="exercise.intensity", value="#{trackedStuff.exercise.intensity}")
                div.checkbox
                  label
                    input(type="checkbox", name="walkdogs", value="true", checked=trackedStuff.walkdogs)
                    | Walk dogs
        div.col-md-4
          div.panel.panel-default
            div.panel-heading Inflammation Markers:
            div.panel-body
              div.input-group-lg
                div.checkbox
                  label
                    input(type="checkbox", name="dryeyes", value="true", checked=trackedStuff.dryeyes)
                    | Dry Eyes
                div.checkbox
                  label
                    input(type="checkbox", name="puffyeyelids", value="true", checked=trackedStuff.puffyeyelids)
                    | Puffy Eyelids
                div.checkbox
                  label
                    input(type="checkbox", name="diarrhea", value="true", checked=trackedStuff.diarrhea)
                    | Diarrhea or Constipation
                div.checkbox
                  label
                    input(type="checkbox", name="eyegoopies", value="true", checked=trackedStuff.eyegoopies)
                    | Eye Goopies
                div.checkbox
                  label
                    input(type="checkbox", name="dryskin", value="true", checked=trackedStuff.dryskin)
                    | Dry Skin
                div.checkbox
                  label
                    input(type="checkbox", name="stuffynose", value="true", checked=trackedStuff.stuffynose)
                    | Stuffy Nose
                div.checkbox
                  label
                    input(type="checkbox", name="uveitissymptoms", value="true", checked=trackedStuff.uveitissymptoms)
                    | Uveitis Symptoms
                div.checkbox
                  label
                    input(type="checkbox", name="jointpain", value="true", checked=trackedStuff.jointpain)
                    | Joint Pain      
                div.checkbox
                  label
                    input(type="checkbox", name="allergies", value="true", checked=trackedStuff.allergies)
                    | allergies
                div
                  label
                    | Sun Light (0-10)
                    input(class="form-control", type="number", step="1", min="0", max="10", placeholder="Sun Light Exposure", name="sunlight", value="#{trackedStuff.sunlight}")
                div
                  label
                    | Blue Light (artificial) (0-10)
                    input(class="form-control", type="number", step="1", min="0", max="10", placeholder="Blue Light Exposure", name="bluelight", value="#{trackedStuff.bluelight}")        
                div
                  label
                    | Visual Acuity (0-10)
                    input(class="form-control", type="number", step="1", min="0", max="10", placeholder="Visual Acuity", name="visualacuity", value="#{trackedStuff.visualacuity}")
      div.panel.panel-default
        div.panel-heading Other notes:
        div.panel-body
          div.input-group-lg
            textarea(class="form-control", name="additionalcomments", type="text", placeholder="Additional Comments", rows="3")
              | #{trackedStuff.additionalcomments}
    button.btn.btn-primary(type='submit') Submit

    script.
      var local_trackedStuff =!{JSON.stringify(trackedStuff)};
      if (!local_trackedStuff.taketurmeric.flag) {
        $('#turmeric_options').hide();
      };
      if (!local_trackedStuff.usedurezol.flag) {
        $('#durezol_options').hide();
      };
      if (!local_trackedStuff.exercise.flag) {
        $('#exercise_options').hide();
      };
      if (!local_trackedStuff.sulphorousveggies.flag) {
        $('#sulphorous_options').hide();
      };

      if (!local_trackedStuff.leafygreens.flag) {
        $('#leafy_options').hide();
      };
      if (!local_trackedStuff.colors.flag) {
        $('#colors_options').hide();
      };

      $('#exercise_type').val(local_trackedStuff.exercise.type);


//- I ate:
//- Soy
//- Gluten
//- Other Grains
//- Legumes
//- Corn
//- Seed Oil
//- Alcohol
//- Sugar
//- Dairy

//- I ate:
//- Leafy Greens
//- Sulphurous Veggies
//- Colors

//- I did:
//-  # of hours of sleep
//- Take probiotic
//- Take fish oil
//- Take turmeric
//- Use Durezol
//- Warm compress
//- Wear glasses
//- Exercise
//- Walk dogs

//- Other Notes:
